.titleee {
    position: relative;
    left: 45px
}

.title_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
    position: relative;
    right: 340px;
    margin-bottom: 10px
}

.title_top .title {
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 59px;
    color: #000;
    width: 1200%
}

.title_top .adam {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #0047ff;
    position: relative;
    top: 19px;
    right: 252px
}

.wrap_card_top {
    position: relative;
    top: -26px
}

.card_wrap_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px;
    position: relative;
    right: 606px
}

.card_wrap_title .title_card h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 29px;
    color: #000;
    position: relative;
    left: 10px
}

.card_wrap {
    display: flex;
    justify-content: center;
    position: relative;
    top: -39px;
    left: 30px;
    gap: 25px
}

.card_wrap .card_1 {
    width: 342px;
    height: 190px;
    background: linear-gradient(84.37deg, #d7816a 2.27%, #bd4f6c 92.26%);
    border-radius: 15px
}

.card_wrap .card_1 h1 {
    color: #fff;
    padding: 20px 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 29px
}

.card_wrap .card_1 h2 {
    padding: 83px 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: #fff
}

.card_wrap .card_2 {
    width: 342px;
    height: 190px;
    background: linear-gradient(84.37deg, #5f0a87 2.27%, #a4508b 92.26%);
    border-radius: 15px
}

.card_wrap .card_2 h1 {
    color: #fff;
    padding: 20px 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 29px
}

.card_wrap .card_2 h2 {
    padding: 83px 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: #fff
}

.card_wrap .card_3 {
    width: 342px;
    height: 190px;
    border-radius: 15px;
    background: linear-gradient(84.37deg, #20bf55 2.27%, #01baef 92.26%)
}

.card_wrap .card_3 h1 {
    color: #fff;
    padding: 20px 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 29px
}

.card_wrap .card_3 h2 {
    padding: 83px 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: #fff
}

.card_wrap .card_4 {
    width: 342px;
    height: 190px;
    border-radius: 15px;
    background: linear-gradient(84.37deg, #380036 2.27%, #0cbaba 92.26%)
}

.card_wrap .card_4 h1 {
    color: #fff;
    padding: 20px 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 29px
}

.card_wrap .card_4 h2 {
    padding: 83px 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: #fff
}

.link_card {
    display: flex;
    justify-content: center;
    position: relative;
    right: 588px;
    top: -15px
}

.link_card .add {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #0047ff
}

.title_tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px;
    position: relative;
    right: 516px
}

.title_tab .title_tab h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000
}

.flex_title {
    display: flex;
    justify-content: center;
    gap: 220px;
    position: relative;
    right: 18px;
    top: -16px;
    margin-bottom: 80px
}

.flex_title .p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #b9c0d1
}

.top_counter {
    position: relative;
    top: -20px
}

.counter_title {
    display: flex;
    justify-content: center;
    gap: 240px;
    position: relative;
    right: 528px;
    top: -36px
}

.counter_title .count {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #000
}

.counter_title_2 {
    display: flex;
    justify-content: center;
    gap: 230px;
    position: relative;
    left: 326px;
    top: -54px
}

.counter_title_2 .count {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #000
}

.wrap_line {
    display: flex;
    justify-content: center;
    position: relative;
    left: 15px;
    top: -27px
}

.wrap_line .line {
    width: 1420px;
    height: 0;
    border: 1px solid #b9c0d1;
    margin-bottom: 30px
}

.wrap_line .shit {
    position: relative;
    top: 10px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none
}

a {
    text-decoration: none
}

.container {
    max-width: 100%;
    width: 400px;
    max-width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.titlee {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 59px;
    position: relative;
    top: 27px;
    left: 18px;
    color: #000
}

.form {
    padding: 30px 40px
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 18px;
    position: relative
}

.form-control label {
    display: inline-block;
    margin-bottom: 1px
}

.form-control input {
    height: 52px;
    background: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 8px;
    width: 112%;
    position: relative
}

input::placeholder {
    font-size: 16px;
    padding: 1px 13px
}

.form-control input:focus {
    outline: 0;
    border-color: #777
}

.form-control.success input {
    border-color: #2ecc71
}

.form-control.error input {
    border-color: #e74c3c
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible
}

.form-control small {
    color: #f30808;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    font-size: 15px
}

.title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 59px;
    position: relative;
    top: 2px;
    color: #000
}

.page_2 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 34px;
    left: 21px;
    cursor: pointer
}

.page_2 a {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0047ff
}

.form-control.error small {
    visibility: visible
}

.form button {
    width: 112%;
    height: 53px;
    border: none;
    background: #0047ff;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    cursor: pointer
}

.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform .4s ease-in-out
}

.social-panel-container.visible {
    transform: translateX(-10px)
}

.social-panel button.close-btn:focus {
    outline: 0
}

.social-panel p {
    background-color: #001f61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px
}

.social-panel p i {
    margin: 0 5px
}

.social-panel p a {
    color: #ff7500;
    text-decoration: none
}

.social-panel h4 {
    margin: 20px 0;
    color: #97a5ce;
    font-family: Muli;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0
}

.social-panel ul li {
    margin: 0 10px
}

.social-panel ul li a:hover {
    border-color: #ff6a00;
    box-shadow: 0 9px 12px -9px #ff6a00
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001f61;
    border: 1px solid #001f61;
    box-shadow: 0 16px 22px -17px #03153b;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999
}

.floating-btn:hover {
    background-color: #fff;
    color: #001f61
}

.floating-btn:focus {
    outline: 0
}

.floating-text {
    background-color: #001f61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: Muli;
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998
}

.floating-text a {
    color: #ff7500;
    text-decoration: none
}

@media screen and (max-width:480px) {
    .social-panel-container.visible {
        transform: translateX(0)
    }

    .floating-btn {
        right: 10px
    }
}

.title_TR {
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 59px;
    color: #000;
    position: relative;
    right: 165px
}

body {
    font-family: Cabin, sans-serif;
    overflow-x: hidden
}

.nav-bar {
    width: 100%;
    height: 69px;
    background: #f0f0f0
}

.nav-bar .link_left {
    display: flex;
    justify-content: center;
    padding: 24px;
    position: relative;
    right: 500px;
    gap: 22px
}

.nav-bar .link_left a {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    z-index: 2
}

.nav-bar .link_left a:hover {
    font-size: 18px;
    color: #0919f8;
    transition: .5s
}

.nav-bar .right_link {
    display: flex;
    justify-content: end;
    gap: 11px;
    position: relative;
    top: -42px;
    padding: 0 160px
}

.nav-bar .right_link a {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px
}

.nav-bar .right_link a:hover {
    font-size: 18px;
    color: #0919f8;
    transition: .7s
}

.title_topp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px;
    position: relative;
    right: 340px;
    margin-bottom: 10px
}

.title_topp .title_wa {
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 59px;
    color: #000;
    position: relative;
    right: 185px
}

.title_topp .adam_2 {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #0047ff;
    position: relative;
    top: 19px;
    right: 238px;
    margin-bottom: 70px
}

.card_wrap_2 {
    display: flex;
    justify-content: center;
    position: relative;
    right: 150px;
    gap: 25px
}

.card_wrap_2 .card_1 {
    width: 342px;
    height: 190px;
    background: linear-gradient(84.37deg, #d7816a 2.27%, #bd4f6c 92.26%);
    border-radius: 15px
}

.card_wrap_2 .card_1 h1 {
    color: #fff;
    padding: 20px 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 29px
}

.card_wrap_2 .card_1 h2 {
    padding: 83px 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: #fff
}

.card_wrap_2 .card_2 {
    width: 342px;
    height: 190px;
    background: linear-gradient(84.37deg, #5f0a87 2.27%, #a4508b 92.26%);
    border-radius: 15px
}

.card_wrap_2 .card_2 h1 {
    color: #fff;
    padding: 20px 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 29px
}

.card_wrap_2 .card_2 h2 {
    padding: 83px 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: #fff
}

.card_wrap_2 .card_3 {
    width: 342px;
    height: 190px;
    border-radius: 15px;
    background: linear-gradient(84.37deg, #20bf55 2.27%, #01baef 92.26%)
}

.card_wrap_2 .card_3 h1 {
    color: #fff;
    padding: 20px 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 29px
}

.card_wrap_2 .card_3 h2 {
    padding: 83px 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: #fff
}

.card_wrap_2 .card_4 {
    width: 342px;
    height: 190px;
    border-radius: 15px;
    background: linear-gradient(84.37deg, #380036 2.27%, #0cbaba 92.26%)
}

.card_wrap_2 .card_4 h1 {
    color: #fff;
    padding: 20px 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 29px
}

.card_wrap_2 .card_4 h2 {
    padding: 83px 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    color: #fff
}

.btn_wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    right: 470px;
    padding: 45px
}

.btn_wrapper .btn_add {
    width: 438px;
    height: 56px;
    background: #0047ff;
    border-radius: 10px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    color: #fff
}

.wrap_btn {
    display: flex;
    justify-content: center;
    gap: 25px;
    position: relative;
    top: 430px
}

.wrap_btn button {
    width: 250px;
    height: 53px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 15px
}

.Sign_up, .btn_sing {
    background: linear-gradient(45deg, #005dff, #2203a2);
    border-radius: 6px
}

.wrap_btn .Call {
    border-radius: 6px;
    border: 3px solid #00f;
    color: #fff;
    background: 0 0
}

.Call:hover {
    background: linear-gradient(45deg, #005dff, #2203a2);
    transition: .9s
}

.active {
    display: block
}

.sub {
    background-color: #000;
    width: 50px;
    height: 20px
}

.bg {
    transition: .3s;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: -1;
    opacity: 0
}

.bg.active {
    opacity: 1 !important;
    z-index: 3 !important
}

.lead.active {
    opacity: 1 !important;
    z-index: 3 !important;
    transform: translate(-50%, -50%) !important
}

.lead {
    transition: .7s;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    background-color: #fff;
    padding: 62px 125px;
    border: 1px solid silver;
    z-index: -1;
    opacity: 0;
    border-radius: 12px
}

.lead img {
    position: absolute;
    right: 10px;
    top: 10px
}

.lead form {
    display: flex;
    flex-direction: column;
    grid-gap: 12px
}

.lead form h2 {
    margin-bottom: 24px
}

.lead form input, button {
    width: 420px;
    height: 48px
}

.o {
    cursor: pointer
}

input {
    outline: 0;
    border-radius: 5px;
    border: none;
    background-color: #899ea5;
    color: #000
}

input::placeholder {
    color: #000;
    position: relative;
    left: 10px
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid#0047FF;
    border-radius: 100%;
    margin: 0 auto;
    visibility: hidden;
    /* margin-top: 15px; */
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.load{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}