@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Cabin&family=Comforter&family=Domine&family=Duru+Sans&family=Fjalla+One&family=Monoton&family=Noto+Serif:ital@0;1&family=Poppins:wght@300&family=Roboto+Slab:wght@100&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Cabin', sans-serif;
	overflow-x: hidden;
}

.nav-bar {
	width: 100%;
	height: 69px;
	background: #F0F0F0;
	.link_left {
		display: flex;
		justify-content: center;
		padding: 24px;
		position: relative;
		right: 500px;
		gap: 22px;
	
	}
	.link_left a {
		color: rgba(0, 0, 0, 1);   
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 19px;
		z-index: 2;
	}
	.link_left a:hover {
		font-size: 18px;
		color: rgb(9, 25, 248);
		transition: .5s;
	}
	.right_link {
		display: flex;
		justify-content: end;
		gap: 11px;
		position: relative;
		top: -42px;
		padding: 0 160px;
	}
	.right_link a {
		color: rgba(0, 0, 0, 1);   
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 19px;
	}
	.right_link a:hover {
		font-size: 18px;
		color: rgb(9, 25, 248);
		transition: .7s;
	}
}

.title_top {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 55px;
	position: relative;
	right: 340px;
	margin-bottom: 10px;
	 .title {
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	line-height: 59px;
	color: #000000;
	width: 1200%;
	}
	.adam {
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 22px;	
		color: #0047FF;
		position: relative;
		top: 19px;
		right: 252px;
	}
}

.wrap_card_top {
	position: relative;
	top: -26px;
}

.card_wrap_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 74px;
	position: relative;
	right: 606px;
	.title_card h1 {
		font-style: normal;
		font-weight: 500;
		font-size: 27px;
		line-height: 29px;
		color: #000000;
		position: relative;
		left: 10px;		
	}
}

.card_wrap {
	display: flex;
	justify-content: center;
	position: relative;
	top: -39px;
	left: 30px;
	gap: 25px;
	.card_1 {
		width: 342px;
		height: 190px;
		background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
		border-radius: 15px;
	}
	.card_1 h1 {
		color: #fff;
		padding: 20px 27px;
		font-style: normal;
		font-weight: 500;
		font-size: 29px;
		line-height: 29px;
	}
	.card_1 h2 {
		padding: 83px 27px;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.card_2 {
		width: 342px;
		height: 190px;
		background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);;
		border-radius: 15px;
	}
	.card_2 h1 {
		color: #fff;
		padding: 20px 27px;
		font-style: normal;
		font-weight: 500;
		font-size: 29px;
		line-height: 29px;
	}
	.card_2 h2 {
		padding: 83px 27px;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.card_3 {
		width: 342px;
		height: 190px;
		border-radius: 15px;
		background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
	}
	.card_3 h1 {
		color: #fff;
		padding: 20px 27px;
		font-style: normal;
		font-weight: 500;
		font-size: 29px;
		line-height: 29px;
	}
	.card_3 h2 {
		padding: 83px 27px;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.card_4 {
		width: 342px;
		height: 190px;
		border-radius: 15px;
		background: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);
	}
	.card_4 h1 {
		color: #fff;
		padding: 20px 27px;
		font-style: normal;
		font-weight: 500;
		font-size: 29px;
		line-height: 29px;
	}
	.card_4 h2 {
		padding: 83px 27px;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 17px;
		color: #FFFFFF;
	}
}

.link_card {
	display: flex;
	justify-content: center;
	position: relative;
      right: 588px;
	top: -15px;
	.add {
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		text-decoration-line: underline;
		color: #0047FF;
	}
	}

	.title_tab {
		display: flex;
	flex-direction: column;
	align-items: center;
	padding: 74px;
	position: relative;
	right: 516px;
	.title_tab h1 {
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
	}
	}

	.flex_title {
		display: flex;
		justify-content: center;
		gap: 220px;
		position: relative;
		right: 18px;
		top: -16px;
		margin-bottom: 80px;
		.p {
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 17px;
			color: #B9C0D1;
		}
	}

	.top_counter {
		position: relative;
		top: -20px;
	}

	.counter_title {
		display: flex;
		justify-content: center;
		gap: 240px;
		position: relative;
		right: 528px;
		top: -36px;
		.count {
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 17px;
			color: #000000;
		}
	}

	.counter_title_2 {
		display: flex;
		justify-content: center;
		gap: 230px;
		position: relative;
		left: 326px;
		top: -54px;
		.count {
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 17px;
			color: #000000;
		}
	}

	.wrap_line {
		display: flex;
		justify-content: center;
		position: relative;
		left: 15px;
		top: -27px;
	.line {
		width: 1420px;
		height: 0px;
		border: 1px solid #B9C0D1;
            margin-bottom: 30px;
	}
	.shit {
		position: relative;
		top: 10px;
	}
}