@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Cabin&family=Comforter&family=Domine&family=Duru+Sans&family=Fjalla+One&family=Monoton&family=Noto+Serif:ital@0;1&family=Poppins:wght@300&family=Roboto+Slab:wght@100&display=swap');

* {
	box-sizing: border-box;
}

// body {
// 	font-family: 'Cabin', sans-serif;
// 	
// 	margin: 0;
//       overflow-x: hidden;
// }

a {
      text-decoration: none;
}

.container {
	width: 400px;
	max-width: 100%;
	position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

}

.titlee {
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 59px;
      position: relative;
      top: 27px;
      left: 18px;
      color: #000000;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 18px;
	position: relative;
      
}

.form-control label {
	display: inline-block;
	margin-bottom: 1px;
}

.form-control input {
	height: 52px;
     background: #FFFFFF;
     border: 1px solid #000000;
     box-sizing: border-box;
     border-radius: 8px;
     width: 112%;
     position: relative;
    
}

input::placeholder {
      color: #000000;
      font-size: 16px;
      padding: 1px 13px;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #f30808;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
      font-size: 15px;
      
}

.title {
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 59px;
      position: relative;
      top: 2px;
      color: #000000;
      
}

.page_2 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 34px;
      left: 21px;
      cursor: pointer;
}

.page_2 a {
      font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #0047FF;
}

.form-control.error small {
	visibility: visible;
}

.form button {
      width: 112%;
      height: 53px;
      border: none;
      background: #0047FF;
      border-radius: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
     line-height: 22px;
     color: #FFFFFF;
     cursor: pointer;
}

.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}


.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}