@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Cabin&family=Comforter&family=Domine&family=Duru+Sans&family=Fjalla+One&family=Monoton&family=Noto+Serif:ital@0;1&family=Poppins:wght@300&family=Roboto+Slab:wght@100&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Cabin', sans-serif;
	overflow-x: hidden;
}

.nav-bar {
	width: 100%;
	height: 69px;
	background: #F0F0F0;
	.link_left {
		display: flex;
		justify-content: center;
		padding: 24px;
		position: relative;
		right: 500px;
		gap: 22px;
	
	}
	.link_left a {
		color: rgba(0, 0, 0, 1);   
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 19px;
		z-index: 2;
	}
	.link_left a:hover {
		font-size: 18px;
		color: rgb(9, 25, 248);
		transition: .5s;
	}
	.right_link {
		display: flex;
		justify-content: end;
		gap: 11px;
		position: relative;
		top: -42px;
		padding: 0 160px;
	}
	.right_link a {
		color: rgba(0, 0, 0, 1);   
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 19px;
	}
	.right_link a:hover {
		font-size: 18px;
		color: rgb(9, 25, 248);
		transition: .7s;
	}
}


.title_topp {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 55px;
	position: relative;
	right: 340px;
	margin-bottom: 10px;
	 .title_wa {
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	line-height: 59px;
	color: #000000;
	position: relative;
      right: 185px;
	}
	.adam_2 {
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 22px;	
		color: #0047FF;
		position: relative;
		top: 19px;
		right: 238px;
            margin-bottom: 70px;
	}
}

.card_wrap_2 {
      display: flex;
	justify-content: center;
	position: relative;
	right: 150px;
	gap: 25px;
      .card_1 {
		width: 342px;
		height: 190px;
		background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
		border-radius: 15px;
	}
	.card_1 h1 {
		color: #fff;
		padding: 20px 27px;
		font-style: normal;
		font-weight: 500;
		font-size: 29px;
		line-height: 29px;
	}
	.card_1 h2 {
		padding: 83px 27px;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.card_2 {
		width: 342px;
		height: 190px;
		background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);;
		border-radius: 15px;
	}
	.card_2 h1 {
		color: #fff;
		padding: 20px 27px;
		font-style: normal;
		font-weight: 500;
		font-size: 29px;
		line-height: 29px;
	}
	.card_2 h2 {
		padding: 83px 27px;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.card_3 {
		width: 342px;
		height: 190px;
		border-radius: 15px;
		background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
	}
	.card_3 h1 {
		color: #fff;
		padding: 20px 27px;
		font-style: normal;
		font-weight: 500;
		font-size: 29px;
		line-height: 29px;
	}
	.card_3 h2 {
		padding: 83px 27px;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 17px;
		color: #FFFFFF;
	}
	.card_4 {
		width: 342px;
		height: 190px;
		border-radius: 15px;
		background: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);
	}
	.card_4 h1 {
		color: #fff;
		padding: 20px 27px;
		font-style: normal;
		font-weight: 500;
		font-size: 29px;
		line-height: 29px;
	}
	.card_4 h2 {
		padding: 83px 27px;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 17px;
		color: #FFFFFF;
	}
}

.btn_wrapper {
      display: flex;
	justify-content: center;
	position: relative;
	right: 470px;
      padding: 45px;
      .btn_add {
            width: 438px;
            height: 56px;
            background: #0047FF;
            border-radius: 10px;
            border: none;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
             cursor: pointer;
            color: #FFFFFF;
      }
}






.wrap_btn {
      display: flex;
      justify-content: center;
      gap: 25px;
      position: relative;
      top: 430px;
}

.wrap_btn  button {
      width: 250px;
      height: 53px;
      border: none;
      cursor: pointer;
      color: #fff;
      font-size: 15px;
}


.btn_sing {
      background: linear-gradient(45deg,#005dff,#2203a2);
      border-radius: 6px;
}

.Sign_up {
      background: linear-gradient(45deg,#005dff,#2203a2);
      border-radius: 6px;
}

.wrap_btn  .Call {
      border-radius: 6px;
      border: 3px solid blue;
      color: rgb(255, 255, 255);
      background: none;
}

.Call:hover {
      background: linear-gradient(45deg,#005dff,#2203a2);
      transition: .9s;
}

.active {
      display: block;
}



.sub {
      background-color: #000;
      width: 50px;
      height: 20px;
}

  .bg {
      transition: .3s ease;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .3);
      backdrop-filter: blur(5px);
      z-index: -1;
      opacity: 0;
  }
  
  .bg.active {
      opacity: 1 !important;
      z-index: 3 !important;
  }
  
  .lead.active {
      opacity: 1 !important;
      z-index: 3 !important;
      transform: translate(-50%, -50%) !important;
  }
  
  .lead {
      transition: .7s ease;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -40%);
      background-color: #fff;
      padding: 62px 125px;
      border: 1px solid silver;
      z-index: -1;
      opacity: 0;
      border-radius: 12px;
  }
  
  .lead img {
      position: absolute;
      right: 10px;
      top: 10px;
  }
  
  .lead form {
      display: flex;
      flex-direction: column;
      grid-gap: 12px;
  }
  
  .lead form h2 {
      margin-bottom: 24px;
  }
  

  
  .lead form input,
  button {
      width: 420px;
      height: 48px;
  }

  .o {
        cursor: pointer;
  }

input{
      outline: none;
      border-radius: 5px;
      border: none;
      background-color: rgb(137, 158, 165);
      color: rgb(0, 0, 0);
}

input::placeholder {
      color: rgb(0, 0, 0);
      position: relative;
      left: 10px;
}